nav {
  background: gray;
  position:fixed;
  left: 10px;
  top: 50px;
  border-radius: 17px;
  ul {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    list-style-type: none;
    li {
      margin: 1rem;
      a {
        font-size: 2rem;
        color: white;
        text-decoration: none;
      }
      & :hover {
        background: red;
      }
    }
    
  }
}
