nav {
  background: gray;
  position:fixed;
  left: 10px;
  top: 50px;
  border-radius: 17px;
  font-size: 2rem;
  color: white;
  .more{
    margin: 10px 10px;
  }
  ul {
    list-style-type: none;
    li {
      margin: 1rem;
      a {
        font-size: 2rem;
        color: white;
        text-decoration: none;
      }
      & :hover {
        background: white;
        color: black;
      }
    }
    
  }
}
